#flex-product-list-black{opacity:0;visibility:hidden;height:150px;overflow:visible}
.flexslider-product-list{background:url(loading.gif) no-repeat center center #000}
.clearfix{clear:both}
.flex-direction-nav a,.flex-direction-nav a :hover {padding:0!important;background-color:transparent!important}
.blackimg-flexslider-product ul,.blackimg-flexslider-product ol ,.blackimg-flexslider-product li {padding:0;margin:0;list-style:none}
.blackimg-flexslider-product  .flex-p-slide .p_10{padding:0px;margin:0 ;}
.blackimg-flexslider-product  .flexslider-p-slides {}
.blackimg-flexslider-product  .flexslider-p-slides  img {max-width: 100%; height:auto}
.blackimg-flexslider-product .flex-p-slide {overflow:hidden;}
.blackimg-flexslider-product { padding:0; }
.blackimg-flexslider-product .t_center{text-align:center}

/* FlexSlider Default Theme
*********************************/
.blackimg-flexslider-product  .w_100{width:100%;display:block}
.blackimg-flexslider-product .clear{clear:both}
 .blackimg-flexslider-product  .flex-p-slide {}
 .blackimg-flexslider-product {margin: 0 0 60px; border: 4px solid #000; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);}
/* Direction Nav */
.blackimg-flexslider-product .flex-direction-nav a {width: 36px; height: 39px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.blackimg-flexslider-product .flex-direction-nav .flex-next {background-position: 0 -39px; right: -4px;}
.blackimg-flexslider-product .flex-direction-nav .flex-prev {left: -4px;}
.blackimg-flexslider-product:hover .flex-next {opacity: 0.8; }
.blackimg-flexslider-product:hover .flex-prev {opacity: 0.8; }
.blackimg-flexslider-product .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.blackimg-flexslider-product  .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.blackimg-flexslider-product  .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.blackimg-flexslider-product  .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.blackimg-flexslider-product  .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.blackimg-flexslider-product  .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.blackimg-flexslider-product .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.blackimg-flexslider-product .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.blackimg-flexslider-product .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.blackimg-flexslider-product .flex-control-thumbs img:hover {opacity: 1;}
.blackimg-flexslider-product .flex-control-thumbs .active {opacity: 1; cursor: default;}

.flex-viewport h3 {line-height:24px!important}
.flex-viewport h5 {line-height:15px!important}