@charset utf-8;
.formidable .formidable_row { clear: both; }
.formidable .element {margin-bottom:18px;clear: both;}
.formidable .counter{clear:both;line-height:18px;color:inherit;font-size:inherit;}
.formidable .counter span{display:inline-block;}
.formidable .buttons .btn { margin-right: 12px;cursor:pointer;display:inline-block;line-height:normal; }	
.formidable label{font-size:inherit;width:120px;text-align:right;color:inherit;float:left;}
.formidable .label{padding-top:8px;line-height:18px;float:left;width:140px;}
.formidable .label span{float:left;padding:2px 0 0 4px; color:red;}
.formidable .input.no_label {margin-left:0px;}
.formidable div.error{margin-left:150px;color:red; font-size:12px;clear:both;}
.formidable .input.no_label div.error {margin-left:0px;}
.formidable span{display:block;}
.formidable .option_other{clear:both;display:none;}
.formidable input[type=text],.formidable input[type=url],.formidable input[type=tel],.formidable input[type=number],.formidable input[type=email],.formidable textarea,.formidable select,.formidable input[type=password]{line-height:18px;padding:4px;}
.formidable select{width:92%;}
.formidable .radio,.formidable .checkbox{float:left;width:45%;}
.formidable .radio label,.formidable .checkbox label{float:none;width:auto;text-align:left;}
.formidable .captcha_image{overflow:hidden;}
.formidable .captcha_image div{line-height:18px;}
.formidable .captcha_input{line-height:18px;overflow:hidden;}
.formidable .captcha_input input{width:180px;}
.formidable .captcha_input div { clear: both;}
.formidable span.range {padding:4px;line-height:13px;width:30px;float:left;margin-left:10px;}
.formidable input[type=range] {float:left;width:190px;}
.formidable fieldset{padding:10px!important;}
.formidable fieldset legend{padding:3px 8px!important;}
.formidable_break{display:block;clear:both;padding-bottom:18px;}
.formidable input[type=password].ui-password,.formidable input[type=password].password_confirm{float:left;}
.formidable .password_strength{position:relative;float:left;width:90px;height:28px;margin:2px 0 2px 10px;}
.formidable .password_strength span{position:absolute;left:5px;line-height:28px;font-size:11px;color:gray; font-weight:normal;}
.formidable .ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.formidable .ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }
.formidable .formidable_rating{padding-top:6px;}
.formidable div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;}
.formidable div.rating-cancel,div.rating-cancel a{background:url(images/delete.gif) no-repeat 0 -16px;}
.formidable div.star-rating,div.star-rating a{background:url(images/star.gif) no-repeat 0 0;}
.formidable div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0;border:0;}
.formidable div.star-rating-on a{background-position:0 -16px!important;}
.formidable div.formidable_column {display:inline-block;float:left;}
.formidable input.firstname {width:35%; margin-right: 10px;}
.formidable input.prefix {width:20%; margin-right: 10px;}
.formidable input.lastname {width:35%;}
.formidable .w100 { width:100%; }
.formidable .w50 { width:50%; }
.formidable .w33 { width: 33%; }
.formidable .w25 { width:25%; }
.formidable .w20 { width: 20%; }
.formidable .w12 { width:12.5%; }
.formidable .w6 { width:6.25%; }
.formidable .auto { padding-right: 10px; }

.ui-timepicker-div .ui-widget-header{position:relative;border:none;border-bottom:1px solid #B6B6B6;-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;padding:.35em 0;}
.ui-timepicker-div dl{text-align:left;width:100%;font-size:.9em;margin:0 0 .4em;padding:5px;}
.ui-timepicker-div dl dt{margin-top:20px;height:25px;margin-bottom:-20px;}
.ui-timepicker-div dl dd{margin:0 15px 0 65px;}
.ui-timepicker-div td{font-size:90%;}
.ui-tpicker-grid-label{background:none;border:none;margin:0;padding:0;}
.formidable .ui-slider-horizontal .ui-slider-handle{top:-6px!important;margin-left:-9px!important;}
.formidable .ui-slider .ui-slider-handle, .ui-timepicker-div .ui-slider .ui-slider-handle{background:url(images/slider_handles.png) 0 -17px no-repeat!important;width:17px!important;height:17px!important;}
.formidable .ui-slider .ui-slider-handle.ui-state-active, .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active{background-position:0 0!important;}
.ui_tpicker_time_label{margin-top:5px!important;}
.ui_tpicker_time{margin-top:-25px!important;}
.formidable .tooltip{display:none;}
.formidable .tooltip_trigger{float:right;margin-top:2px;margin-left:4px;line-height:18px;padding:4px 8px;}
.formidable #tooltip{position:absolute;z-index:3000;opacity:0.85;padding:5px;}
.formidable #tooltip h3,.formidable #tooltip div{margin:0;}
.formidable .formidable_message{display:none;border:1px solid #CCC;-webkit-border-radius:5px;border-radius:5px;background-color:#FFC;color:#000;padding:8px;margin-bottom:20px;}
.formidable .formidable_message.alert-error{background-color:#C00!important;color:#FFF;}
.formidable .formidable_message p { margin-top: 0px; !important;}
.formidable .buttons,.formidable .input{margin-left:150px;}
.formidable select.day,.formidable select.month,.formidable select.year,.formidable select.hour,.formidable select.minute,.formidable select.second,.formidable select.ampm{width:auto;float:none;}
.formidable input.datepicker,.formidable input.timeslider{width:235px;}
.formidable .placeholder { color:#aaa; }
.formidable div.please_wait_loader {background-image:url(images/spinner.gif);background-repeat:no-repeat;background-position:50% 50%; height:15px; width:15px; display:none;}

/* Core qTip styles */
.qtip,.qtip{position:absolute;left:-28000px;top:-28000px;display:none;max-width:100%;min-width:200px;direction:ltr;margin-bottom:10px;font-size:11px;color:#666;line-height:20px;}
.qtip-content{position:relative;padding:5px 9px;overflow:hidden;text-align:left;word-wrap:break-word}
.qtip-default{border-width:1px;border-style:solid;border-color:#f1d031;background-color:#ffffa3;color:#555}
.qtip-default .qtip-titlebar{background-color:#ffef93}
.qtip-default .qtip-icon{border-color:#CCC;background:#f1f1f1;color:#777}
.qtip-default .qtip-titlebar .qtip-close{border-color:#AAA;color:#111}
/*! Light tooltip style */.qtip-light{background-color:white;border-color:#e2e2e2;color:#454545}
.qtip-light .qtip-titlebar{background-color:#f1f1f1}
.qtip:not(.ie9haxors) div.qtip-content,.qtip:not(.ie9haxors) div.qtip-titlebar{filter:none;-ms-filter:none}
.qtip .qtip-tip{margin:0 auto;overflow:hidden;z-index:10}
.qtip .qtip-tip,.qtip .qtip-tip .qtip-vml{position:absolute;color:#123456;background:transparent;border:0 dashed transparent}
.qtip .qtip-tip canvas{top:0;left:0}
.qtip .qtip-tip .qtip-vml{behavior:url(#default#VML);display:inline-block;visibility:visible}
#qtip-overlay{position:fixed;left:-10000em;top:-10000em}
#qtip-overlay.blurs{cursor:pointer}
#qtip-overlay div{position:absolute;left:0;top:0;width:100%;height:100%;background-color:black;opacity:.7;filter:alpha(opacity=70);-ms-filter:"alpha(opacity=70)"}
.qtipmodal-ie6fix{position:absolute!important}

/* Ajax Uploader */
.ax-main-title { display: none; }
.ax-upload-all, .ax-upload, .ax-legend, .ax-icon {display:none}	
.ax-extensions{overflow: hidden; color: #999;font-size: 12px;display: inline-block;}
.ax-uploader fieldset { border: 0px!important; padding:0px!important;}
.ax-button {display:inline-block;}
.ax-clear {display:none!important;}
.ax-browse-c{overflow:hidden;display:inline-block;position:relative;cursor:pointer}
.ax-upload-all, .ax-upload{display:none!important}
.ax-abort,.ax-confirm{margin-top:4px;width:20px;height:20px;margin-left:3px;cursor:pointer;display:inline-block}
.ax-abort{background-image:url(images/abort-s.png)}
.ax-confirm{background-image:url(images/ok-s.png)}
.ax-disabled{opacity:.5;filter:alpha(opacity=50);cursor:auto}
.ax-confirm{display:none}
.ax-text{margin-top: 5px;}
.ax-remove, .ax-file-remove{margin-top: 9px;margin-right: 12px;cursor: pointer;display: inline-block;text-decoration: none!important;}
.ax-remove:before, .ax-file-remove:before{content:"Remove";}
.ax-file-remove { margin-right: 0px; }
.ax-file-remove span {display:none;}
.ax-remove:hover,.ax-upload:hover,.ax-abort:hover, .ax-file-remove:hover{background-position:0 -15px;color:#333;text-decoration:none;}
.ax-file-list{overflow:hidden;list-style:none outside none;margin-top:10px;}
.ax-file-list li:hover{background:#fafafa;outline:none!important;border-color:#b3b3b3}
.ax-file-list li{overflow:hidden;border:1px solid #ccc;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;-webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);-moz-box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);box-shadow:inset 0 1px 2px rgba(0,0,0,0.1);color:rgba(0,0,0,0.75);display:block;font-size:14px;-webkit-transition:all .15s linear;-moz-transition:all .15s linear;-o-transition:all .15s linear;transition:all .15s linear;margin:0 0 12px;padding:5px 10px;position:relative;}
.ax-file-name{height:20px;font-size:12px;overflow:hidden}
.ax-file-name input{width:80%}
.ax-file-size{height:20px;font-size:12px;color:#999}
.ax-progress{background-color:white;border-radius:2px;margin-top:4px;padding:0;float:right;height:32px;width:25%;position:relative;text-align:center;overflow:hidden;border:1px solid #ccc;}
.ax-progress-bar{height:32px;border-radius:2px;position:absolute;top:0px;left:0;width:0;background-color:#CCC;/*background-image:url(images/loader.gif);background-size:100% 100%*/}
.ax-progress-info{font:12px Helvetica,Arial,sans-serif;height:32px;line-height:32px;position:absolute;width:100%;top:0;left:0}
.ax-toolbar{overflow:hidden;float:right}
.ax-browse{opacity:0;filter:alpha(opacity=0);font-size:50px;cursor:pointer;height:50px;position:absolute;top:0;right:0}
.ax-preview{max-height:40px;max-width:40px}
.ax-prev-container{height:40px;width:40px;margin:0 auto;margin-right:7px;float:left;display:inline-block;background:url(images/icons.png) no-repeat -41px -41px}
.ax-details{width:45%;float:left;}
#ax-box{position:absolute;top:0;left:0;background:#fff;z-index:1001;display:none;border:2px solid #000;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 0 21px 0 #fff;-moz-box-shadow:0 0 21px 0 #fff;box-shadow:0 0 21px 0 #fff}
#ax-box-shadow{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;filter:alpha(opacity=75);-moz-opacity:.75;-khtml-opacity:.75;opacity:.75;z-index:1000;display:none}
#ax-box-close{width:32px;height:32px;background:url(close.png) no-repeat 0 0;top:-5px;right:-5px;position:absolute;cursor:pointer}
#ax-box-fn{background:none repeat scroll 0 0 black;bottom:0;color:white;height:38px;left:0;opacity:.8;overflow:hidden;position:absolute;width:100%;z-index:15}
#ax-box-fn span{display:block;font-family:inherit;font-size:inherit;font-weight:bold;line-height:38px;padding:0 20px}
.ax-filetype-pdf{background:url(images/icons.png) no-repeat -81px 0}
.ax-filetype-zip,.ax-filetype-rar{background:url(images/icons.png) no-repeat -121px -121px}
.ax-filetype-doc,.ax-filetype-docx{background:url(images/icons.png) no-repeat 0 -81px}
.ax-filetype-exe{background:url(images/icons.png) no-repeat -41px 0}
.ax-filetype-xls,.ax-filetype-xlsx{background:url(images/icons.png) no-repeat 0 -121px}
.ax-filetype-xml{background:url(images/icons.png) no-repeat -121px -81px}
.ax-filetype-mp4,.ax-filetype-avi{background:url(images/icons.png) no-repeat -121px -41px}
.ax-filetype-pdf{background:url(images/icons.png) no-repeat -81px 0}
.ax-filetype-gif{background:url(images/icons.png) no-repeat -41px -81px}
.ax-filetype-bmp{background:url(images/icons.png) no-repeat 0 -41px}
.ax-filetype-mp3{background:url(images/icons.png) no-repeat 0 0}
.ax-filetype-ppt,.ax-filetype-pptx{background:url(images/icons.png) no-repeat -81px -81px}
.ax-filetype-tiff{background:url(images/icons.png) no-repeat -121px 0}
.ax-filetype-txt{background:url(images/icons.png) no-repeat -81px -121px}
.ax-filetype-jpg,.ax-filetype-gif,.ax-filetype-png{background-image:none;}
