#ccm-pane-body{width:898px}
#ccm-pane-body-left legend{font-size:1.1em;padding-left:0;margin-bottom:0!important;border-bottom:0}
#ccm-pane-body-left li{border:1px solid #EEE!important;border-radius:4px;color:#999;padding:4px 10px 4px 30px;margin-bottom:4px;background-position:6px center;background-repeat:no-repeat}
#ccm-pane-body-left li:hover{border:1px solid #CCC!important;background-color:#EEE;color:#333}
#ccm-pane-body-right{width:75%;float:left;overflow:auto}
#ccm-pane-body-left ul li,.ui-draggable-dragging{list-style:none;display:block;margin:0;margin-bottom:2px;border:1px solid #CCC;cursor:pointer}
#ccm-pane-body div.ccm-form-list span:hover{cursor:move}

#ccm-mailing-results fieldset{margin-bottom:15px!important}
#ccm-mailing-results legend{margin-bottom:0!important}
#ccm-mailing-results .upload_preview img { border-radius: 4px; border: 1px solid #ccc; vertical-align:middle; }
#ccm-mailing-results .upload_preview-hover div {display: none;z-index: 105;position: absolute;top: 0px;left: 0px;border: 1px dotted #aaa;padding: 8px;background-color: #ffffff;}

#ccm-form-record .input-prepend .add-on{margin-right:-5px!important}
#ccm-form-record .input-prepend .btn{border-radius:0 4px 4px 0}
#ccm-form-record label{margin-bottom:0!important}

.result_entry p{padding:0!important}
.result_entry td{vertical-align:top!important}

.element-overlay-body{padding:10px;height:349px;overflow:auto}
.element_options.clearfix{padding-bottom:0!important}
.element-body{padding:10px;height:549px;overflow:auto}
.element-body fieldset{padding-top:0;padding-bottom:0}
.element-body p{margin:0;padding: 0 10px 15px 160px;}

.formidable-dialog-content{padding:0!important;overflow:hidden!important}
.formidable-dialog-content .layout-body { height: 160px; padding:10px; }

.ui-state-default{border:0;-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;background-color:#FFC}
.ui-state-highlight{height:50px;-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;background-color:#FFC}

.ccm-results-list {min-height: 38px;}
.ccm-results-list th.form_last_submission {width:104px;}
.ccm-results-list th.form_submissions{width:74px}
.ccm-results-list th.form_options{width:260px}
.ccm-results-list td.form_last_submission {width:112px;}
.ccm-results-list td.form_submissions{width:72px;text-align:center}
.ccm-results-list td.form_options{width:260px;text-align:right}
.ccm-results-list th.element_mover{width:20px;text-align:center}
.ccm-results-list th.element_type{width:112px;text-align:center}
.ccm-results-list th.element_options{width:164px}
.ccm-results-list td.element_mover{cursor:move;width:22px;text-align:center}
.ccm-results-list td.element_type{width:114px;text-align:center}
.ccm-results-list td.element_options{width:166px}
.ccm-results-list th.mailing_from{width:402px;text-align:center}
.ccm-results-list th.mailing_options{width:214px}
.ccm-results-list td.mailing_from{width:400px;text-align:center}
.ccm-results-list td.mailing_options{width:212px;text-align:right}
.ccm-results-list th.result_submission, .ccm-results-list td.result_submitted{width:127px;text-align:center}
.ccm-results-list td.result_submission, .ccm-results-list td.result_submitted{width:125px;text-align:center}
.ccm-results-list th.result_dialog_label{width:152px}
.ccm-results-list td.result_dialog_label{width:150px}

#ccm-form-record { position: relative; }
#ccm-form-record .loader { width: 100%; top: 0; background-color: rgba(255,255,255,.8); padding:0; background-position: center center; }

#ccm-pane-body-left fieldset { float: left; width: 197px; padding:10px; margin-left: 10px; }
#ccm-pane-body-left ul { margin:0;padding:0; list-style:none }

#ccm-element-list, #ccm-mailing-list { min-height:250px }
#ccm-element-list .clearfix { padding:0; }
#ccm-element-list .f-row { margin-bottom: 25px; border: 1px solid #DDD; }
#ccm-element-list .f-row > .inner {  padding: 5px 5px 15px 5px; background: #F6F6F6;}
#ccm-element-list .f-col { position: relative; float: left; }
#ccm-element-list .f-col .inner { margin: 4px; border: 1px solid #E5E5E5; }
#ccm-element-list .f-col-last { margin-right:0; }
#ccm-element-list .hide { display: none; }
#ccm-element-list .element-empty { color: #999; }

.ccm-formidable .col-tools { background-color:#E5E5E5; padding: 6px; cursor: pointer; transition-duration: .2s; }
.ccm-formidable .col-tools:hover { background-color:#D5D5D5; }
.ccm-formidable .row-tools { background: #EEE; padding: 5px; cursor: pointer; transition-duration: .2s; }
.ccm-formidable .row-tools:hover { background: #D5D5D5; }
.ccm-formidable .tools:after { display: table; content: ""; clear: both; }
.ccm-formidable .tools:hover a { text-decoration: none; }
.ccm-formidable .tools a { text-indent: 24px; font-size: 12px; display: block; color: #777; padding: 6px; }
.ccm-formidable .tools-link { float: left; }

table.ccm-results-list tr.ccm-list-record td, .element-empty { 
	border: 0; border-top: 3px solid #F6F6F6; padding: 6px 4px; background-color: #FBFBFB; transition-duration: .2s;
}
table.ccm-results-list tr.ccm-list-record:first-child td { border-top: 0px; }
table.ccm-results-list tr.ccm-list-record td.element_label span { color: #0088cc; }
/*table.ccm-results-list td { -webkit-user-select: none; -moz-user-select: moz-none; user-select: none; }*/
table.ccm-results-list td.element_mover a.mover, .dependency a.mover { cursor:move;height:16px;width:40px;float:left;margin-left:-20px; }
.dependency a.mover { height: 20px; width: 20px; margin-left: 10px !important; background-position: -23px -1093px !important;}
.dependency a.remove { cursor:pointer;height:16px;width:25px;float:left; margin-left:5px; }
table.ccm-results-list td.element_label small { font-size:11px; color:#555; line-height: 14px; }

table.entry{border-top:0!important;margin:0!important}
.note{padding-top:4px;color:#666;font-size:.8em;line-height:1.2em;clear:both}
.addon{padding-left:30px}
.no_bottom_margin{margin-bottom:0!important}
.add-on-formidable{background:whiteSmoke;border:1px solid #CCC!important;float:left!important;display:block;width:auto!important;height:18px;min-width:16px!important;padding:4px 4px 4px 5px!important;margin-right:-1px!important;-webkit-border-radius:3px 0 0 3px!important;-moz-border-radius:3px 0 0 3px!important;border-radius:3px 0 0 3px!important}
.add-on-formidable input{position:static!important;}
.placeholder{border:2px dashed #CCC;border-top:0;text-align:center;padding:80px;color:#CCC;display:none;position:absolute;width:524px;background-image:url(../../images/arrow.png);background-position:30px center;background-repeat:no-repeat}
.placeholder.large{background-image:none;width:754px}
.loader{padding:50px;background-image:url(../../images/loader.gif);background-repeat:no-repeat;background-position:center 50px;position:absolute;min-height:150px;height:100%;width:540px}
.option_button{float:left!important;font-size:18px!important;line-height:18px!important;padding:4px!important;margin-left:5px!important;width:18px!important;text-align:center!important}
.option_row,.attachment_row{overflow:hidden;padding-bottom:5px}
.file_selector{float:left;width:490px}
.attachment_row .option_button{margin-top:3px!important}
.disabled{background-color:whiteSmoke;border-color:#DDD;cursor:not-allowed}
.mail_message{width:556px}
.mail_message td{padding:0!important}
.no_send_to_select, .no_attachments_select{padding-top:6px;font-size:13px;line-height:18px;color:#666;font-size:.8em}
.CodeMirror { width: 517px; -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);-webkit-transition:border linear 0.2s,box-shadow linear 0.2s;-moz-transition:border linear 0.2s,box-shadow linear 0.2s;-ms-transition:border linear 0.2s,box-shadow linear 0.2s;-o-transition:border linear 0.2s,box-shadow linear 0.2s;transition:border linear 0.2s,box-shadow linear 0.2s; background-color: #ffffff; border: 1px solid #cccccc; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;}
.CodeMirror:focus {border-color:rgba(82, 168, 236, 0.8);outline:0;outline:thin dotted \9;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);}
#schedule_div div.input label.control-label { margin-left: 44px; margin-right: 14px; display: inline-block;}