#flex-product-list-white{opacity:0;visibility:hidden;height:150px;overflow:visible}
.flexslider-product-list{background:url(loading.gif) no-repeat center center}

.white-flexslider-product ul,.white-flexslider-product ol ,.white-flexslider-product li {padding:0;margin:0;list-style:none}
.white-flexslider-product  .flex-slide .p_10{padding:10px;margin:0 10px 0 0;}
.white-flexslider-product  .flexslider-slides {}
.white-flexslider-product  .flexslider-slides  img {max-width: 100%; height:auto}
.white-flexslider-product .flex-slide {overflow:hidden;}
.white-flexslider-product { padding:10px 0 10px 10px; }
.white-flexslider-product .t_center{text-align:center}
.clearfix{clear:both}
.flex-direction-nav a,.flex-direction-nav a :hover {padding:0!important;background-color:transparent!important}
/* FlexSlider Default Theme
*********************************/
.white-flexslider-product  .w_100{width:100%;display:block}
.white-flexslider-product   { background-color: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);}

.white-flexslider-product .clear{clear:both}
 .white-flexslider-product  .flex-slide {}
/* Direction Nav */
.white-flexslider-product  .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.white-flexslider-product  .flex-direction-nav .flex-next {background-position: 100% 0; right: 1px; }
.white-flexslider-product  .flex-direction-nav .flex-prev {left: 1px;}
.white-flexslider-product:hover .flex-next {opacity: 0.8; }
.white-flexslider-product:hover .flex-prev {opacity: 0.8; }
.white-flexslider-product .flex-next:hover,.white-flexslider-product   .flex-prev:hover {opacity: 1;}
.white-flexslider-product  .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.white-flexslider-product .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;left:0;right:0}
.white-flexslider-product .flex-control-nav ul{list-style:none;padding:0;margin:0}
.white-flexslider-product .flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;list-style:none;}
.white-flexslider-product .flex-control-nav li:first-child {margin: 0;}
.white-flexslider-product .flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.white-flexslider-product .flex-control-nav li a:hover {background-position: 0 -13px;}
.white-flexslider-product .flex-control-nav li a.flex-active {background-position: 0 -26px; cursor: default;}

.white-flexslider-product .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.white-flexslider-product .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.white-flexslider-product .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.white-flexslider-product .flex-control-thumbs img:hover {opacity: 1;}
.white-flexslider-product .flex-control-thumbs .active {opacity: 1; cursor: default;}
.flex-viewport h3 {line-height:24px!important}
.flex-viewport h5 {line-height:15px!important}