.moser-table {
  margin:0px;padding:0px;
  width:100%;
  border: none;

}

.moser-table h3 {
  margin: auto;
  color:#ffffff;
}

.moser-table table {
  width:100%;
  height:100%;
  margin:0px;padding:0px;
}

.moser-table tr:hover td
{
  background-color:#B6B6B6;
}

.moser-table tr:nth-child(odd) { background-color:#d2d2d2; }
.moser-table tr:nth-child(even) { /*background-color:#ffffff;*/ }

.moser-table td {
  vertical-align:middle;
  text-align:center;
  padding: 0.8em 0.6em;
}


.moser-table tr:first-child td {
  text-align:center;
  vertical-align: middle;
  font-weight:bold;
  color:#ffffff;
}

.moser-table-wasserhaus tr:first-child td {
  background-color:#029bde;
  color:#ffffff;
}

.moser-table-sonnenhaus tr:first-child td {
  background-color:#ebbe28;
  color:#ffffff;
}