/* Browser Resets */
.default-flexslider-pglist .ccm-layout-wrapper a:active,
.default-flexslider-pglist .flex-viewport a:active,
.default-flexslider-pglist .ccm-layout-wrapper a:focus,
.default-flexslider-pglist .flex-viewport a:focus  {outline: none;}
.default-flexslider-pglist .ccm-layout,
.default-flexslider-pglist .flex-control-nav,
.default-flexslider-pglist .flex-direction-nav {margin: 0; padding: 0; list-style: none;clear:both} 
.default-flexslider-pglist a,.default-flexslider-pglist a:visited,.default-flexslider-pglist a:hover{color:#fff}

.default-flexslider-pglist  img{max-width:100%;height:auto;}
.default-flexslider-pglist .image-link img {z-index:2;display: table;margin: 0 auto;
    width: auto;}
.default-flexslider-pglist .flex-carousel-caption p,.default-flexslider-pglist .flex-carousel-caption h4,.default-flexslider-pglist .flex-carousel-caption a{z-index:3}
/* FlexSlider Necessary Styles
*********************************/ 
.default-flexslider-pglist .flex-viewport {margin: 0; padding: 0;}
.default-flexslider-pglist .flex-viewport .ccm-layout > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the ccm-layout before the JS is loaded. Avoids image jumping */
.default-flexslider-pglist .flex-viewport .ccm-layout img {width: 100%; display: block;}
.default-flexslider-pglist .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .ccm-layout element */

html[xmlns] .ccm-layout {display: block;} 
* html .ccm-layout {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.default-flexslider-pglist .no-js .ccm-layout > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.default-flexslider-pglist .flex-viewport {margin: 0 0 60px;zoom: 1;}
.default-flexslider-pglist .ccm-layout-wrapper{  position: relative;  }
.default-flexslider-pglist .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.default-flexslider-pglist .loading .flex-viewport {max-height: 300px;}
.default-flexslider-pglist .flex-viewport .ccm-layout {zoom: 1;}

.default-flexslider-pglist .carousel li {margin-right: 5px}


/* Control Nav */
.default-flexslider-pglist .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.default-flexslider-pglist .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.default-flexslider-pglist .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #fff; cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.default-flexslider-pglist .flex-control-paging li a:hover {background: #c8e0f3;}
.default-flexslider-pglist .flex-control-paging li a.flex-active {background: #285678; cursor: default;  box-shadow: 0 0 2px rgba(0,0,0,0.2), inset 0 0 3px rgba(255,255,255,0.2); border: 1px solid #1c3f59; top: 1px; position: relative; }
.default-flexslider-pglist .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.default-flexslider-pglist .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.default-flexslider-pglist .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.default-flexslider-pglist .flex-control-thumbs img:hover {opacity: 1;}
.default-flexslider-pglist .flex-control-thumbs .active {opacity: 1; cursor: default;}




.default-flexslider-pglist .flex-direction-nav  a{
  position: absolute;
  top: 40%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  text-decoration:none;
}

.default-flexslider-pglist .flex-direction-nav .flex-next {
  right: 15px;
  left: auto;
}

.default-flexslider-pglist .flex-direction-nav a:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
    text-decoration:none;
}

.default-flexslider-pglist .flex-carousel-caption {
  width:100%;
  display:block;
  padding: 25px 15px 5px;
  background: #333333;
  margin:0;
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
}
.default-flexslider-pglist .flex-carousel-caption h4 {font-size:200%;}
.default-flexslider-pglist .flex-carousel-caption h4  a{color: #ffffff;}
/*.default-flexslider-pglist .flex-carousel-caption h4,*/
.default-flexslider-pglist .flex-carousel-caption p {
  margin-top: 10px;
  color: #ffffff;
  padding:10px 14px 0 0;
  font-size: 20px;
}
.default-flexslider-pglist .flex-carousel-caption a {
  color: #ed6e23;
  opacity:1;
  filter:alpha(opacity=100);
}


.flex-slide{position:relative}

.default-flexslider-pglist {min-height:10px}

@media (min-width: 979px) {

.flex-slide .image-link img{/*position:absolute; kg change */top:0;left:0;right:0;bottom:0;z-index:-1;}

.default-flexslider-pglist .flex-carousel-caption {position: absolute;width:100%;bottom:0;}
}
@media (max-width: 979px) {
 .default-flexslider-pglist  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
.default-flexslider-pglist  .flex-direction-nav .flex-next {opacity: 1; right: 0;}


}