/*----------------------------
	Thumbnails
-----------------------------*/
.touchgallery-thumbs{
	width:95%;
	margin:60px auto 35px;
	text-align:center;
}

.touchgallery-thumbs a{
	display:inline-block;
	/*border:7px solid #303030;*/
	box-shadow:0 1px 3px rgba(0,0,0,0.5);
	border-radius:4px;
	position:relative;
	text-decoration:none;
	background-position:center center;
	background-repeat: no-repeat;
}

.touchgallery-thumbs a:after{
	background-color: #303030;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    color: #FFFFFF;
    display: inline-block;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;   	
    text-overflow: ellipsis;
   	-o-text-overflow: ellipsis;
  	-webkit-text-overflow: ellipsis;
	content: attr(title);
    padding: 2px 5px;
    position: relative;
    text-align: center;
    left: 0;
    height: 25px;
}

#credit{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 8px;
	font-size: 11px;
	margin: 0 auto 70px;
	opacity: 0.5;
	padding: 12px 16px;
	text-align: center;
	width: 400px;
}
/*----------------------------
	Media Queries
-----------------------------*/
@media screen and (max-width: 960px) {
	.touchgallery-thumbs{
		width:auto;
	}
}