.default-flexslider-pglist ul,.default-flexslider-pglist ol ,.default-flexslider-pglist li {padding:0;margin:0;list-style:none}
/* Browser Resets */
.default-flexslider-pglist .ccm-layout-wrapper a:active,
.default-flexslider-pglist .flex-viewport a:active,
.default-flexslider-pglist .ccm-layout-wrapper a:focus,
.default-flexslider-pglist .flex-viewport a:focus  {outline: none;}
.default-flexslider-pglist .ccm-layout,
.default-flexslider-pglist .flex-control-nav,
.default-flexslider-pglist .flex-direction-nav {margin: 0; padding: 0; list-style: none;clear:both;} 
.default-flexslider-pglist img{max-width:100%;height:auto;}
/* FlexSlider Necessary Styles
*********************************/ 
.default-flexslider-pglist .flex-viewport {margin: 0; padding: 0;}
.default-flexslider-pglist .flex-viewport .ccm-layout > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the ccm-layout before the JS is loaded. Avoids image jumping */
.default-flexslider-pglist .flex-viewport .ccm-layout img {width: 100%; display: block;}
.default-flexslider-pglist .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .ccm-layout element */

html[xmlns] .ccm-layout {display: block;} 
* html .ccm-layout {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.default-flexslider-pglist .no-js .ccm-layout > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.default-flexslider-pglist .flex-viewport {margin: 0px;zoom: 1;}
.default-flexslider-pglist .ccm-layout-wrapper{  position: relative;  }
.default-flexslider-pglist .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.default-flexslider-pglist .loading .flex-viewport {max-height: 300px;}
.default-flexslider-pglist .flex-viewport .ccm-layout {zoom: 1;}

.default-flexslider-pglist .carousel li {margin-right: 5px}


/* Direction Nav */
.default-flexslider-pglist .flex-direction-nav a {width: 36px; height: 39px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.default-flexslider-pglist .flex-direction-nav .flex-next {background-position: 0 -39px; right: 0px;}
.default-flexslider-pglist .flex-direction-nav .flex-prev {left: 0;}
.default-flexslider-pglist:hover .flex-next {opacity: 0.8; }
.default-flexslider-pglist:hover .flex-prev {opacity: 0.8; }
.default-flexslider-pglist .flex-viewport:hover .flex-next ,.flex-direction-nav .flex-next:hover{opacity: 1; right: 0;}
.default-flexslider-pglist .flex-viewport:hover .flex-prev ,.flex-direction-nav .flex-prev:hover{opacity: 1; left: 0;}
.default-flexslider-pglist .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.default-flexslider-pglist .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;text-align:center}
.default-flexslider-pglist .flex-control-nav ul,.default-flexslider-pglist .flex-control-nav  ol{list-style:none;padding:0;margin:0;}
.default-flexslider-pglist .flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;list-style:none;}
.default-flexslider-pglist .flex-control-nav li:first-child {margin: 0;}
.default-flexslider-pglist .flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.default-flexslider-pglist .flex-control-nav li a:hover {background-position: 0 -13px;}
.default-flexslider-pglist .flex-control-nav li a.flex-active {background-position: 0 -26px; cursor: default;}

.default-flexslider-pglist .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.default-flexslider-pglist .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.default-flexslider-pglist .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.default-flexslider-pglist .flex-control-thumbs img:hover {opacity: 1;}
.default-flexslider-pglist .flex-control-thumbs .active {opacity: 1; cursor: default;}



.default-flexslider-pglist  .flexslider-pg-c  .image-link {text-align:center}
.tooltip{opacity:1!important}