.blackimg-flexslider ul,.blackimg-flexslider ol ,.blackimg-flexslider li {padding:0;margin:0;list-style:none}
.blackimg-flexslider ul,.blackimg-flexslider ol{float:none!important;margin:0}
.flex-direction-nav a,.flex-direction-nav a :hover {padding:0!important;background-color:transparent!important}
div#main-container #header .flex-viewport ul,div#main-container #header ul{margin-top:0!important;margin-right:0!important}


.flexslider-img-content{opacity:0;visibility:hidden;}
.flexslider-img-preloader{background:url(loading.gif) no-repeat center center}
/* Browser Resets */
.flex-container a:active,
.blackimg-flexslider a:active,
.flex-container a:focus,
.blackimg-flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

.blackimg-flexslider .flex-caption{margin:0px; background:#000;
  opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
  padding:10px;
  color:#fff;

  }


/* FlexSlider Necessary Styles
*********************************/ 
.blackimg-flexslider {margin: 0; padding: 0;}
.blackimg-flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.blackimg-flexslider .slides img {display: block;margin:0 auto}
.blackimg-flexslider .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.blackimg-flexslider .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.blackimg-flexslider  .slides > li:first-child {display: none;}


/* FlexSlider Default Theme
*********************************/
.blackimg-flexslider {margin: 0 0 60px; background: #000; border: 4px solid #000; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);}
.blackimg-flexslider .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.blackimg-flexslider .loading .flex-viewport {max-height: 300px;}
.blackimg-flexslider .blackimg-flexslider .slides {zoom: 1;}

.blackimg-flexslider .carousel li {margin-right: 5px}

/* Direction Nav */
.blackimg-flexslider .flex-direction-nav a {width: 36px; height: 39px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.blackimg-flexslider .flex-direction-nav .flex-next {background-position: 0 -39px; right: -4px;}
.blackimg-flexslider .flex-direction-nav .flex-prev {left: -4px;}
.blackimg-flexslider:hover .flex-next {opacity: 0.8; }
.blackimg-flexslider:hover .flex-prev {opacity: 0.8; }
.blackimg-flexslider .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.blackimg-flexslider .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;left:0;right:0;}
.blackimg-flexslider .flex-control-nav li {margin: 0 6px 0 0; display: inline-block; zoom: 1; *display: inline;}
.blackimg-flexslider .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.blackimg-flexslider .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.blackimg-flexslider .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }


.blackimg-flexslider .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.blackimg-flexslider .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.blackimg-flexslider .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.blackimg-flexslider .flex-control-thumbs img:hover {opacity: 1;}
.blackimg-flexslider .flex-control-thumbs .active {opacity: 1; cursor: default;}

