/*
_______________________________
Columnal - General fixes for Internet Explorer */

.col_1 {width: 4.855%;}
.col_2 {width: 13.5%;}
.col_3 {width: 22.15%;}
.col_4 {width: 30.8%;}
.col_5 {width: 39.405%;}
.col_6 {width: 48.1%;}
.col_7 {width: 56.75%;}
.col_8 {width: 65.31%;}
.col_9 {width: 74.05%;}
.col_10 {width: 82.7%;}
.col_11 {width: 91.35%;}


/*
_______________________________
Columnal - sub-columns */

.col_3 .col_2 {width:60.8%;}


/*
_______________________________
Columnal - addition */

/* spacing for before column */
.pre_1 {padding-left: 8.5%;}
.pre_2 {padding-left: 17%;}
.pre_3 {padding-left: 25.85%;}
.pre_4 {padding-left: 34.4%;}
.pre_5 {padding-left: 42.8%;}
.pre_6 {padding-left: 51.8%;}
.pre_7 {padding-left: 60.55%;}
.pre_8 {padding-left: 65.4%;}
.pre_9 {padding-left: 77.85%;}
.pre_10 {padding-left: 86.5%;}
.pre_11 {padding-left: 95.15%;}

/* spacing for after column */
.suf_1 {padding-right: 8.5%;}
.suf_2 {padding-right: 17%;}
.suf_3 {padding-right: 25.85%;}
.suf_4 {padding-right: 34.4%;}
.suf_5 {padding-right: 42.8%;}
.suf_6 {padding-right: 51.8%;}
.suf_7 {padding-right: 60.55%;}
.suf_8 {padding-right: 65.4%;}
.suf_9 {padding-right: 77.85%;}
.suf_10 {padding-right: 86.5%;}
.suf_11 {padding-right: 95.15%;}

/* Grid >> Push & Pull
--------------------------------------------------*/
.container.navhead .col_2,
.container.navhead .col_2 a,
.container.navhead .col_2 img {line-height: 1; margin: 0 !important; padding-top: 0 !important; }

/* since min-width does not work on IE8, the width can be customized here to make it a fixed width (like Columnal 0.8+ now does for Internet Explorer 6 and 7), by default the width is set to 984px to match the wider option for Internet Explorer 6 and 7 */
#container {width: 1024px;}

#container input[type="text"],
#container input[type="password"],
#container input[type="email"],
#container input[type="tel"],
#container textarea,
#container select {
	max-width:none!important;
}

img {
	width: auto;
}