/* ----------------------------------------------
	Theme Name : Slate
	Author : Chris Seymour
	Author URI : http://www.c5mix.com/	
 ------------------------------------------------ */


/* ----------------------------------------------
   HTML ELEMENTS
------------------------------------------------- */ 

body {
	/* customize_background */background-color:#e1e1e1;/* customize_background */
	padding:0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
	margin:0;
	padding:0;
}
a { }
a img {
	border: 0;
}

img, object, embed, iframe {
	max-width: 100%;
}

img {
	height: auto;
	-ms-interpolation-mode:bicubic;
}

* {
	outline:none;
}


/* ------------------------------------------
   LAYOUT
------------------------------------------- */ 

#container {
	/* customize_container_background */background-color:#fff;/* customize_container_background */
	margin:0 auto;
	max-width:900px;
	width:100%;
	/*box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);*/
}

.inner {
}

/* Header */

header {
	/* customize_header_background */background-color:#fff;/* customize_header_background */
	padding:40px 3.8%;
	overflow:hidden;
	border-top:4px solid #ccc;
}
#logo {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	display:inline-block;
	float:left;
	width:40%;
}
#logo a {
	font-size:3.5em;
	color:#666;
	text-decoration:none;
	line-height:1em;
}
a#logo-text {
	/* customize_header_logo */color:#fff;/* customize_header_logo */
	/* customize_header_logo_background */background-color:#ccc;/* customize_header_logo_background */
	display:inline-block;
	margin-top: -40px!important;
	padding: 60px 10px 10px;
	border-bottom-width:3px;
	border-bottom-style:solid;
	/* customize_header_logo_border */border-bottom-color:#aaa;/* customize_header_logo_border */
	text-shadow:1px 1px 1px #ddd, -1px -1px 2px #666;
}
a#logo-text:hover {
	/* customize_header_logo_background_hover */background-color:#bbb;/* customize_header_logo_background_hover */
	/* customize_header_logo_border_hover */border-bottom-color:#888;/* customize_header_logo_border_hover */
	text-shadow:1px 1px 1px #ddd, -1px -1px 2px #444;
}
#logo p {
	margin:0;
	display:inline;
}
#header-area {
	float:right;
	text-align:right;
	width:60%;
}
#header-area p {
	margin:0;
}
#header-area input[type="text"] {
	display:inline!important;
}



/*  Main Navigation  */

/*** SUPERFISH ESSENTIAL STYLES ***/
.sf-menu, .sf-menu * {
	margin:0;
	padding:0;
	list-style:none;
}
.sf-menu {
	line-height:1.0;
}
.sf-menu ul {
	position:absolute;
	top:-999em;
	width:200px; /* left offset of submenus need to match (see below) */
}
.sf-menu ul li {
	width:100%;
}
.sf-menu li:hover {
	visibility:inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu li {
	float:left;
	position:relative;
}
.sf-menu a {
	display:block;
	position:relative;
}
.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:0;
	top:3em; /* match top ul list item height */
	z-index:99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:200px; /* match ul width */
	top:0;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:200px; /* match ul width */
	top:0;
}

/*** arrows **/
.sf-menu a.sf-with-ul {
	padding-right:1.75em!important;
	min-width:1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:absolute;
	display:block;
	right:0.75em;
	top:1.05em; /* IE6 only */
	width:10px;
	height:10px;
	text-indent:-999em;
	overflow:hidden;
	background:url(images/arrows-ffffff.png) no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:0.8em;
	background-position:0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu ul a:focus > .sf-sub-indicator,
.sf-menu ul a:hover > .sf-sub-indicator,
.sf-menu ul a:active > .sf-sub-indicator,
.sf-menu ul li:hover > a > .sf-sub-indicator,
.sf-menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url(images/shadow.png) no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}

nav {
	background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2YzZjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-8 */

	margin:0;
	padding:0 3.8%;
	clear:both;
	z-index:10;
}
nav ul {
}
nav ul li {
}

nav ul li a {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	font-size:1.25em;
	/* customize_nav_link */color:#666;/* customize_nav_link */
	text-decoration:none;
	/*text-shadow:1px 1px 3px #111;
	text-transform:uppercase;*/
	padding:0.75em 1em!important;
}
nav ul li a:hover, nav ul li a.nav-selected, nav ul li a.nav-path-selected, nav ul li:hover {
	/* customize_nav_link_hover */
	color: #029BDE;
  
	/* customize_nav_link_hover */
	
	/* customize_nav_link_hover_background */
}

/* Dropdown Menus */		
nav li ul {
	z-index:99;
}
nav li li {
	/* customize_nav_link_hover_background */background-color:#F3F3F3;/* customize_nav_link_hover_background */
    font-size: 0.8em;
}
nav li li a {
}	
nav li li a:hover, nav li li a.nav-selected, nav li li a.nav-path-selected {
	/* customize_nav_dropdown_link_hover_background */background-color:#eee;/* customize_nav_dropdown_link_hover_background */
}
nav li li li {
	font-size:1em;
}

nav .clearboth {
	height:0;
}



/* Feature */

#feature {
	margin:0 auto;
	overflow:hidden;
}
#feature p {
	font-size:1.3em;
}
#feature img {
	vertical-align:bottom;
}



/* Sections */

#sections {
	margin:0 0 3.8%;
	padding-bottom:1.5em;
	border-bottom:1px solid #ccc;
}



/* Wrapper */

#wrapper {
	margin:0;
	padding:3.8%;
	overflow: hidden;
}


/* Page Meta */

#page-meta {
  display:none;
	border-bottom:1px solid #ccc;
	margin-bottom:12px;
	padding-bottom:12px;
}
#page-meta h1 {
	margin:0;
}
#page-meta p {
	margin:0.25em 0 0;
	font-family:"Droid Serif", Georgia, Times, serif;
	font-style:italic;
	font-size:1.2em;
}


/* Breadcrumbs */

#breadcrumbs {
	margin-bottom:0.75em;
	font-family:"Lato", Arial, Helvetica, sans-serif;
	font-size:0.75em;
	text-transform:uppercase;
	color:#999;
	float:right;
}
#breadcrumbs a {
	color:#999;
}
#breadcrumbs a:hover {
	color:#777;
}
.ccm-autonav-breadcrumb-sep {
	margin:0 3px;
}



/* Content */

#content {
}



/* Sidebar */

#sidebar {
}



/* Sub Navigation */

#sidebar ul.nav, #sidebar ul.nav ul {
	margin: 0 0 2em;
	padding: 0;
	list-style: none;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}
#sidebar ul.nav li {
	font-size: 1.1em;
	text-transform:uppercase;
	margin-top:2px;
	margin-bottom:3px;
	padding:0;
}
#sidebar ul.nav li a {
	background:#eee;
	color:#666;
	text-decoration:none;
	display:block;
	padding:5px;
	border-left:3px solid #bbb;
}
#sidebar ul.nav li a:hover, #sidebar ul.nav li a.nav-selected, #sidebar ul.nav li a.nav-path-selected {
	background:#ddd!important;
	color: #444!important;
	border-left-color:#888!important;
}
#sidebar ul.nav li a.nav-selected, #sidebar ul.nav li a.nav-path-selected {
	font-weight: bold;
}
#sidebar ul.nav li li {
	border-bottom:none!important;
	color:#777;
	font-size:0.85em;
	text-transform:none;
}
#sidebar ul.nav li ul {
	margin:0.5em 1em;
}
#sidebar ul.nav li li a {
	background:none;
	padding:0!important;
	border:none;
}
#sidebar ul.nav li li a:hover, #sidebar ul.nav li li a.nav-selected, #sidebar ul.nav li li a.nav-path-selected {
	background:none!important;
}




/* Footer */

footer {
	/* customize_footer_background */background-color:#029BDE;/* customize_footer_background */
	clear:both;
	margin:0;
	padding:40px 3.8%;
	border-top:2px solid #333;
	font-size:12px;
	/* customize_footer_text_color */color:#ddd;/* customize_footer_text_color */
	/*text-shadow:1px 1px 3px #111;*/
}
footer a {
	/* customize_footer_link */color:#ddd;/* customize_footer_link */
}
footer a:hover {
	/* customize_footer_link_hover */color:#fff;/* customize_footer_link_hover */
}
footer .row:first-child {
	margin-bottom:3.8%;
}
footer #credits {
	overflow:hidden;
}
footer #credits p {
	margin:0;
}
footer #credits .right {
	font-family:"Droid Serif", Georgia, Times, serif;
	font-style:italic;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
	/* customize_footer_heading_color */color:#ddd;/* customize_footer_heading_color */
}
footer ul {
	margin-left:0;
	list-style:none;
}
footer ul li {
	border-bottom:1px dotted #777;
	padding:5px 0;
}
footer ul li a {
	display:block;
	text-decoration:none;
}




/* Forms
================================================== */

#container form {
	margin-bottom: 20px;
}
#container fieldset {
	margin-bottom: 20px;
}
#container input[type="text"],
#container input[type="password"],
#container input[type="email"],
#container input[type="tel"],
#container textarea,
#container select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #777;
	margin: 0;
	width: 210px;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff;
}
#container select {
	padding: 0;
}
#container input[type="text"]:focus,
#container input[type="password"]:focus,
#container input[type="email"]:focus,
#container input[type="tel"]:focus,
#container textarea:focus {
	border: 1px solid #aaa;
	color: #444;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2);
}
#container textarea {
	min-height: 60px;
}
#container label,
#container legend {
	display: block;
	font-weight: bold;
	font-size: 13px;
}
#container select {
	width: 220px;
}
#container input[type="checkbox"] {
	display: inline;
}
#container label span,
#container legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444;
}


/* Page List Block */
.ccm-page-list-title {
	margin:0 0 0.45em;
}
div.ccm-page-list-description {
	margin-bottom:2.5em;
}
.ccm-page-list-thumbnail {
	margin-bottom:0.5em;
}
.ccm-page-list-link {
	text-decoration:none;
}
.ccm-page-list-one-col .row, .ccm-page-list-two-col .row, .ccm-page-list-three-col .row, .ccm-page-list-four-col .row {
	margin-bottom:2em;
}
.ccm-page-list-one-col p, .ccm-page-list-two-col p, .ccm-page-list-three-col p, .ccm-page-list-four-col p {
	margin-bottom:0.75em;
}


/* Blog Styles */

/* Default Blog */
#blog-index .entry {
}
#blog-index .entry .title h3 {
	margin:0 0 0.5em;
}
.meta, #blog-index .entry .title h4 {
	font-family:"Droid Serif", Georgia, Times, serif;
	font-size:0.95em;
	font-style:italic;
	color:#999;
}
.meta a, #blog-index .entry .title h4 a {
	color:#999;
}
.meta a:hover, #blog-index .entry .title h4 a:hover {
	color:#666;
}
.blog-entry-divider {
	margin:3em 0!important;
}

h4.guestBook-title {
	border-bottom-color:#ccc!important;
	margin-left:0!important;
	margin-right:0!important;
}


/* Date Nav / Tag Cloud */
.ccmDateNav, .ccm-search-block-tag-cloud-wrapper {
	margin-bottom:1.5em;
}
ul.ccm-search-block-tag-cloud li a {
	line-height:1em;
}


/* Slideshow block */
.ccm-SlideshowBlock-display .slideImgWrap div {
    background-position: center top !important;
    background-size: 100% auto !important;
}


/* Icons */
.date, .tags, .comments, .user, .star, .settings, .view, h4.guestBook-title {
	background-position:left 50%;
	background-repeat:no-repeat;
	padding-left:16px;
	margin:0 2px;
}
.date {
	background-image:url(images/icons/calendar.png);
}
.tags {
	background-image:url(images/icons/tag.png);
}
.comments, h4.guestBook-title {
	background-image:url(images/icons/comments.png);
}
.user {
	background-image:url(images/icons/user.png);
	padding-left:15px;
}
.star {
	background-image:url(images/icons/star.png);
}
.settings {
	background-image:url(images/icons/settings.png);
}
.view {
	background-image:url(images/icons/view.png);
}


/* Next/Previous */
.ccm-next-previous-wrapper .ccm-next-previous-parentlink {
	text-align:center;
}


/* #Buttons
================================================== */

#container a.button,
#container button,
#container input[type="submit"],
#container input[type="reset"],
#container input[type="button"] {
	/*
	background: #eee;
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%);
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2)));
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%);
	border: 1px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	padding: 4px 12px;
	
	text-shadow: 0 1px rgba(255, 255, 255, .75);
	color: #444;
	
	display: inline-block;
	
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 20px;
	line-height: 21px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	*/
        cursor: pointer;
	
	
        -moz-box-shadow: 0px 10px 14px -7px #a3a3a3;
        -webkit-box-shadow: 0px 10px 14px -7px #a3a3a3;
        box-shadow: 0px 10px 14px -7px #a3a3a3;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
        background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
        
        background-color:#74ad5a;
        
        border:1px solid #3b6e22;
        
        color:#ffffff;
        text-shadow:0px -1px 5px #92b879;
        
        display:inline-block;
        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;

		font-size: 1.3em;
        padding: 0.3em 2em;
		margin-bottom: 0.3em;
		
        font-weight:normal;
        text-decoration:none;
}

#container a.button:hover,
#container button:hover,
#container input[type="submit"]:hover,
#container input[type="reset"]:hover,
#container input[type="button"]:hover {

        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
        background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
        
        background-color:#68a54b;
        color:#ffffff;
}

#container a.button:active,
#container button:active,
#container input[type="submit"]:active,
#container input[type="reset"]:active,
#container input[type="button"]:active {
	
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
        background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
        
        background-color:#68a54b;
        color:#ffffff;
}

#container .button.full-width,
#container button.full-width,
#container input[type="submit"].full-width,
#container input[type="reset"].full-width,
#container input[type="button"].full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
}


.row {
	clear:both;
	display:block!important;
	margin-left:0!important;
	overflow:hidden;
}


/* Google Maps Fix */
.googleMapCanvas img {
	max-width:none!important;
}


/* alignment classes & additional classes*/

.left  { float: left; }
.right { float: right; }


/* Clearing */

.clearboth { clear: both; }
.clear { display:inline-block; }
.clear:after {
	display:block; 
	visibility:hidden; 
	clear:both; 
	height:0; 
	content: ".";
}

/* customize_miscellaneous *//* customize_miscellaneous */




/* ----------------------------------------------
   BUTTONS
------------------------------------------------- */ 



    .greenbutton {
        /*
        -moz-box-shadow: 0px 10px 14px -7px #a3a3a3;
        -webkit-box-shadow: 0px 10px 14px -7px #a3a3a3;
        box-shadow: 0px 10px 14px -7px #a3a3a3;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
        background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
        background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
        */
        background-color:#74ad5a;
		
        border:1px solid #3b6e22;
        
        color:#ffffff;
        /*text-shadow:0px -1px 5px #92b879;*/
        
        display:inline-block;
        
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;

		font-size: 1.3em;
        padding: 0.3em 2em;
		margin-bottom: 0.3em;
		
        font-weight:normal;
        text-decoration:none;
    }
    
    .greenbutton:hover {
        /*
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
        background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
        background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
        */
        background-color:#68a54b;
        color:#ffffff;
    }
    .greenbutton:active {
        position:relative;
        top:1px;
    }
    
    
    
    
    .greybutton {
        /*
        -moz-box-shadow: 0px 10px 14px -7px #a3a3a3;
        -webkit-box-shadow: 0px 10px 14px -7px #a3a3a3;
        box-shadow: 0px 10px 14px -7px #a3a3a3;
        
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c9c9c9), color-stop(1, #9e9e9e));
        background:-moz-linear-gradient(top, #c9c9c9 5%, #9e9e9e 100%);
        background:-webkit-linear-gradient(top, #c9c9c9 5%, #9e9e9e 100%);
        background:-o-linear-gradient(top, #c9c9c9 5%, #9e9e9e 100%);
        background:-ms-linear-gradient(top, #c9c9c9 5%, #9e9e9e 100%);
        background:linear-gradient(to bottom, #c9c9c9 5%, #9e9e9e 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9c9c9', endColorstr='#9e9e9e',GradientType=0);
        
        background-color:#c9c9c9;
        */
        background-color:white;
        
		-moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        
        border:1px solid #454545;
        
        color:#747474;
        /*text-shadow:0px -1px 5px #9e9e9e;*/
        
        display:inline-block;
        
		font-size: 1.3em;
        padding: 0.3em 2em;
		margin-bottom: 0.3em;
		
        font-weight:normal;
        text-decoration:none;
        
    }
    .greybutton:hover {
        /*
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #9e9e9e), color-stop(1, #c9c9c9));
        background:-moz-linear-gradient(top, #9e9e9e 5%, #c9c9c9 100%);
        background:-webkit-linear-gradient(top, #9e9e9e 5%, #c9c9c9 100%);
        background:-o-linear-gradient(top, #9e9e9e 5%, #c9c9c9 100%);
        background:-ms-linear-gradient(top, #9e9e9e 5%, #c9c9c9 100%);
        background:linear-gradient(to bottom, #9e9e9e 5%, #c9c9c9 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e9e9e', endColorstr='#c9c9c9',GradientType=0);
        
        background-color:#9e9e9e;
        color:#ffffff;
		*/
		
        background-color:#eee;
        color:#747474;
    }
    .greybutton:active {
        position:relative;
        top:1px;
    }
    
    
    



/* ----------------------------------------------
   TABLE
------------------------------------------------- */ 


.moser-table {
	margin:0px;padding:0px;
	width:100%;
	border: none;
	
}

.moser-table h3 {
	margin: auto;
	color:#ffffff;
}

.moser-table table {
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

.moser-table tr:hover td
{
	background-color:#B6B6B6;
}

.moser-table tr:nth-child(odd) { background-color:#d2d2d2; }
.moser-table tr:nth-child(even) { /*background-color:#ffffff;*/ }

.moser-table td {
	vertical-align:middle;	
	text-align:center;
	padding: 0.8em 0.6em;
}


.moser-table tr:first-child td {
	text-align:center;
	vertical-align: middle;
	font-weight:bold;
	color:#ffffff;
}

.moser-table-wasserhaus tr:first-child td {
	background-color:#029bde;
	color:#ffffff;
}

.moser-table-sonnenhaus tr:first-child td {
	background-color:#ebbe28;
	color:#ffffff;
}


/* ----------------------------------------------
   PREISE
------------------------------------------------- */ 

.moser-preise-fussnote {
	color:#a4a4a4;
	font-size:0.8em;
}


/* ----------------------------------------------
   FORM
------------------------------------------------- */ 

.buchungsformular {
}

.moser-float-left {
	float: left;
	margin-right: 0.5em;
}


