/* ====================== */
/* ! Mobile Style Sheet   */
/* ====================== */

/* Smaller screens */

@media only screen and (max-width: 1023px) {

}


/* Mobile */

@media handheld, only screen and (max-width: 767px) {
	
	body {
		-webkit-text-size-adjust: none;
	}
	
	header {
		padding:20px 3.8%;
	}
	
	#logo, #header-area {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	#logo {
		margin-bottom:3%;
		max-width:100%;
	}
	a#logo-text {
		margin-top: -20px!important;
	}
	
	#header-area {
		max-width:100%;
		text-align:left;
	}
	#header-area form {
		margin-bottom:10px;
	}
	
	nav {
		padding:0;
	}
	nav ul li {
		float:none!important;
		border-top:1px solid #444;
	}
	nav ul li:first-child, nav ul li li {
		border-top:none!important;
	}
	nav ul li a {
		font-size:1.1em;
		padding:0.75em 1em !important;
	}
	.sf-menu li:hover ul,
	.sf-menu li.sfHover ul {
		top:2.75em;
	}
	
	.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11 {
		margin-bottom:1.5em;
	}
	
	#breadcrumbs {
		float:none!important;
	}
	
	footer #credits p {
		float:none!important;
		margin-bottom: 1em;
	}
	
	img.left, img.right {
		float:none!important;
	}
	img.left {
		margin-right:0!important;
	}
	img.right {
		margin-left:0!important;
	}
	
	.ccm-layout-table .ccm-layout-col {
		float: none !important;
		width: 100% !important;
	}
	
}