<h1>Documentation</h1>
<p>Formidable is from the creators of Extended Form. Formidable has the best of Extended form an added some more great features!</p>
<h2>What can it do?</h2>
<p>That's easy! You can create forms and the mails that are submitted. So no more hardcoded templates, only easy WYSIWYG mail creation.<br>
	All submissions will be logged and saved in C5 Dashboard.
</p>
<h2>Features</h2>
<ul>
	<li>Available default elements:
		<ul>
			<li>Single text</li>
			<li>Textarea</li>
			<li>Radiobutton</li>
			<li>Checkbox</li>
			<li>Selectbox (single, multi)</li>
			<li>Hidden</li>
		</ul>
	</li>
	<br>
	<li>Available advanced elements:<br>
	</li>
	<ul>
		<li>Email Address</li>
		<li>Website (URL)</li>
		<li>Integer</li>
		<li>Range (HTML5)</li>
		<li>Slider (jQuery UI)</li>
		<li>Password (with strength indicator)</li>
		<li>Phonenumber</li>
		<li>Date (datepicker, input, select)</li>
		<li>Time (timepicker, input, select)</li>
		<li>WYSIWYG (TinyMCE)</li>
		<li>Rating	(stars)	</li>
		<li>Recipient Selector (single, multi)</li>
		<li>File Upload (multiple, ajax)</li>
	</ul>
	<br>
	<li>Available Static text and HTML:
		<ul>
			<li>Heading (h1 - h6)</li>
			<li>Paragraph (p, div, etc...)</li>
			<li>HTML (TinyMCE)</li>
		</ul>
	</li>
	<br>
	<li>Available Layout elements:
		<ul>
			<li>Horizontal rule</li>
			<li>Fieldset (with legend)</li>
			<li>Break (spacing)</li>
			<li>Code (HTML)</li>
		</ul>
	</li>
	<br>
	<li>More features for the elements
		<ul>
			<li>"Other" option<br>
			Selectionboxes, checkboxes and radiobuttons can be expanded with "other" option, which opens a textfield or textarea.</li>
			<li>Minimum and maximum values<br>
		   Fields can handle minimum and maximum values, characters or selections.Count words, characters or selections.</li>
			<li>Confirmation<br>
				Email Addresses, Passwords, URL can ask for comfirmation. So another field is added just to confirm the first input.
			</li>
			<li>Placeholder</li>
			<li>Default value(s)</li>
			<li>Mask your element<br>
				You can add masks to some fields, so the input is forced to be the same on every submission. 
			Some fields like phonenumber have pre-defined masks.</li>
			<li>Format elements<br>
				Determine the format of the values (datepicker, timepicker)<br>
			</li>
			<li>Change appearance of field<br>
			In some cases you can deside the appearance of the field</li>
			<li>Tooltip</li>
			<li>Captures sender details (Page, IP, user, time)</li>
			<li>Custom classes to form and elements</li>
			<li>Easy sorting form elements (drag/drop)</li>
			<li>Duplicate elements<br>
		</ul>
	</li>
	<br>
	<li>Create custom e-mails
		<ul>
			<li>Page selector and filemanager for creating mails<br>
			When creating a mail you can use the best of C5 features!<br>
			</li>
			<li>Easy intergration of elements and submitted values into mails</li>
			<li>Set sender (custom or submitted value)</li>
			<li>Set reply to when custom sender is selected</li>
			<li>Set recipient (custom or submitted value)</li>
			<li>Add attachments</li>
			<li>Duplicate mails<br>
			</li>
		</ul>
	</li>
	<br>
	<li>Buttons and Captcha<br>
	Buttons can be managed in the form properties. You can lable the submit-button and add and label the clear-button<br>
	There is also a new captcha module. This captcha module asks the submitter to solve a simple equation. You can enable the use of captcha in the form properties.</li>
	<br>
	<li>HTML5 form elements<br>
	Formidable can use HTML5 form elements. This for better use on mobile devices or new browsers. You can enable the use of HTML5 in the form properties.</li>
	<br>
	<li>Review<br>You can prompt the submitter to do a review of his or her submission. So before any data will be send or submitted the submitter needs to check the soon to be submitted values.
	</li>
	<br>
	<li>Submission
		<ul>
			<li>Ajax validation of the form and ajax submit</li>
			<li>After submission you can redirect the submitter to a page or show a message to the submitter. Both options are available! </li>
		</ul>
	</li>
	<br>
	<li>Templates <br>
	Formidable allows you to use different templates for the form. Besides the default template there is a clean version. And also a Twitter Bootstrap template (form-horizontal).</li>
	<br>
	<li>Capture browser / screen information<br />
		Capture some more details from the submitter. Browser, Platform and Screenresolution.</li>
	<br>
	<li>Duplicating forms<br />
		Duplicate already created forms with one click!</li>
	<br>
	<li>Limitations<br />
		You can block the form after a number of submissions on global, IP or user level.</li>
	<br>
	<li>Events<br />
		On validation and submitting Formidable fires an event!</li>			
</ul>
<h2>Help</h2>
<p><strong>Formidable in your Dashboard</strong><br>
Go to Concrete 5 Full Dashboard. Check the Formidable section in the Dashboard. Click on &quot;Forms&quot; within the Formidable section of the Dashboard to see the created forms. Click on &quot;Results&quot; to show the results from any of the forms created with Formidable. Note that we also created a page in the &quot;Reports&quot; section of the Dashboard. This also will lead to the &quot;Results&quot;-page of Formidable.</p>
<p><strong>Create a form</strong><br>
	Click on the green &quot;Create a new FormidableForm&quot;-button.<br>
	The new FormidableForm shows you the properties of this form. When adding a new FormidableForm, some fields are filled by default. Just walk through the form and select or fill where needed.<br>
If you'r done, check your input and click on &quot;Save&quot; on the bottom of the page. Your form is created! If all values are correct you are redirected to the &quot;Elements&quot; of your new FormidableForm. Note that the gray buttons on the top left of the page are now enabled. You can easily jump from form properties to the form elements.</p>
<p><strong>Duplicating forms</strong><br /> 
	Duplicates forms with all the elements and mailings.
</p>
<p><strong>Add or edit elements</strong><br>
On the left of this page you see the list of available elements within Formidable. You can select any of the elements, but for this example we'll use the default &quot;Text Field&quot;. So click on &quot;Text Field&quot; in the left colums. A new popup appears! In the popup you can change the settings of the element you want to insert or edit. First field shows the type of the element you are editing. &quot;Label / Name&quot; is the elements label, this label is shown in the forntend of your form. &quot;Placeholder&quot; and &quot;Default value&quot; allows you to add a placeholder or a default value to the element. The option &quot;Minimum / Maximum&quot; allows you to set a minimal and maximum value to the field. For instance if you need the field to have al least 4 characters an maximum 6 characters. You can also set the type of validation. In this case you can choose characters or words. For integer you can choose value, and so on... In case of a selectbox you have to check if multiple values are allowed. You can also add a mask to the textfield element. A mask is a kind of overlay which force the submitter to add data in a certain format (phone, date, number, etc...). Some fields have the option to select the &quot;Appearance&quot; of the element. The selected valuecan change the format, type or view of the element. In case of the textfield you can't select an appearance. Every form element has the option to show a &quot;Tooltip&quot;. You can add the content of the tooltip in the textarea next to the checkbox. In the frontend the tooltip will be shown while hovering the form element. Also not available for the textfield is the &quot;Confirmation&quot; option. When this is enabled, Formidable adds another form element of the same type. Both inserted values are matched to each other. If they are the same the input is valid. This is usefull for checking Email Addresses or Passwords. &quot;Required&quot; forces the element to be valid and not empty. A value is needed! Note that input from submitter is check even if the value isn't required! For example: Email Address field is not required and the submitter adds a non-valid EmailAddress. Formidable will throw a error, &quot;Invalid Email Address&quot;. If the submitter leaves the field empty, no error will be thrown. Last but not least you can add a &quot;CSS Class&quot; to the element. This adds a class to the field and makes styling very easy! So...every thing filled out? Click on &quot;Save&quot; to add the element to your form.</p>
<p><strong>Deleting elements</strong><br>
If you have no need for a certain element you can delete the element. Note that all corresponding submitted data will also be deleted.</p>
<p><strong>Duplicating elements</strong><br> 
	Just do it! See what happens...
</p>
<p><strong>Sorting elements</strong><br>
	In the &quot;Elements&quot; page of the form you see a list of elements assigned to the selected form. The double arrow in front of the elements allows you to drag-and-drop the elements within the elements list. The order you just changes is saved immediately to the form and is visable in the frontend!</p>
<p><strong>Mail after submission<br />
</strong>With Formidable you can create different mailings for each Formidable Form. On every submission all the mailings that are created for thsi form will be submitted. It's not required to have a mailing.</p>
<p><strong>Add or edit mailings</strong><br /> 
	Go to the mailing page of the form you wish to edit. Click on the green &quot;Create a new mail&quot;-button.<br />
	The new FormidableForm shows you the properties of the mail you are about to create. First we need to provide a sender. The sender of the mail can be a custom sender (use the selectbox and select &quot;Send from custom sender&quot;). Insert &quot;Name&quot; and &quot;Email Address&quot; in the inputfields. If you have an &quot;Email Address&quot;- or a &quot;Recipient Selector&quot;-field in your form you are able to select it here. So the sender of the mail could easily be a form submitter. Note that in case of multiple submitters (only with multiple Recipient Selector) the sender of the form is always the first selected. Now we need to set the recipients. There are multiple options here. If you have an &quot;Email Address&quot;- or a &quot;Recipient Selector&quot;-field in your form you are able to select them here (use CTRL-key to select multiple). In case you don't want to select any you can also send to a custom email address. After that the hard part is over. Add a &quot;Subject&quot; to your mailing and add a &quot;Message&quot;. Formidable is able to send HTML-mailings, so use the WYSIWYG-block to add HTML. You can also use images from the Filemanager or add links to pages within you Concrete5 website. Also available in the  WYSIWYG-block is the use of form-elements in you mailing. In the Editbar above the WYSIWYG-block you see four links (&quot;Add Image&quot;, &quot;Add File&quot;, &quot;Insert Link to Page&quot; and &quot;Insert Formidable Element&quot;). Click on &quot;Insert Formidable Element&quot; and a popup appears with the the form elements from you form. There are serveral options here. When adding the &quot;All form elements&quot; tag in the message, Formidable will generate a list of labels and values in the mail. You also can add individually labels and values of form elements. The button &quot;Both&quot; will insert a string with label and value split by a colon  (:). After setting up your message you can add multiple attachments to the mail. There will be send to the recipients along with the mail. Note that the attachments are loaded from the filemanager.</p>
<p><strong>Deleting mailings</strong><br />
Just click on the &quot;Delete&quot;-button to delete the mail. You'll be asked to confirm.</p>
<p><strong>Duplicating mailings</strong><br />
	Just do it! See what happens...</p>
<p><strong>Results</strong><br />
Formidable adds a page in the &quot;Reports&quot;-section of the Concrete5 Dashboard. It also has it's own result page in the &quot;Formidable&quot;-section. Both pages are the same. You can customize the results and offcourse export the results to an Excel-file (xls)</p>
<p><strong>Calculation Captcha</strong><br />
Along with Formidable there is a  new captcha solution. It's very easy, the submitter has to solve a simple equation. The calculation captcha can be set in the Dashboard. Go to &quot;System &amp; Settings&quot;, click on &quot;Captcha Setup&quot; in the &quot;Permissions &amp; Access&quot; section. Here you can change the Captcha to the &quot;Calculation Captcha&quot;. Note that this changes the captcha for the whole website.</p>
<p><strong>Adding a form to a page<br />
</strong>When you are done building your form, you can add this to a page or stack. Just go to the page you want to have your form in. Click on &quot;Add to YourAreaName&quot; in the page and select &quot;Formidable Form&quot; in the blocks list. Select the form you want to show on the page.</p>
<h2>Translations</h2>
<p>If some cases you want to translate the values for some fields. For example the address-field. In USA it's called Province/State, but in the UK it's called Counties. The best solution for this is to use the default language handler of Concrete5. To do this you have to create a languagefile for the specific language you are using. If the languagefile is created you can upload this in the folder /languages/. Then go to the System and Settings page in the Dashboard and change the default language of your C5 website to the language you just added. This way the form field will be translated. To help you on your way we created a number of different versions for Formidable. You can download it at: http://www.concrete5-addons.nl/addons/formidable/languages/</p>
<p>For the date element you could use a language-file but you don't need to. When you are using the datepicker you can check the &quot;advanced&quot;-checkbox. This way you can easily add your own values to the datepicker.<br />
For example:</p>
<p>[code]
dayNamesMin:[ "Su", "Mo", "Tu", "We", "Th", "Fr", "Sa" ],
dayNamesShort:[ "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat" ],
dayNames:[ "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" ],
monthNames:[ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]
monthNamesShort: [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ]
[/code]</p>
<h2>ToDo</h2>
<p>Here is a list of things we want to do or just some ideas, but haven't been done yet... (in random order)</p>
<ul>
	<li>
		<p><strong>Dependencies<br />
			</strong>A nice feature to create is dependencies. If a certain answer is given some other question should be asked. For example: &quot;Do you have a pet&quot;: &quot;yes&quot; or &quot;no&quot;. If the submitter chooses &quot;yes&quot;, a new question should popup: &quot;What kind of pet&quot;: &quot;dog&quot;, &quot;cat&quot;, &quot;horse&quot;....</p>
	</li>
	<li>
		<p><strong>Assign formfields to user attributes<br />
			</strong>Create a form that also can be a profile editor.
			
		</p>
	</li>
	<li>
		<p><strong>Advanced filters in results<br />
			</strong>More features for filtering results
		</p>
	</li>
	<li>
		<p><strong>Paging / Steps<br />
			</strong>Create a form divided in steps (pages)
		</p>
	</li>
	<li>
		<p><strong>Schedule<br />
			</strong>Schedule submissions on the form. When is the form available for submissions. Could be usefull for advertising or signing up for some event...
		</p>
	</li>
	<li>
		<p><strong>Predefined Forms<br />
			</strong>Create a predefinded form (contact, signup, etc...)
		</p>
	</li>
	<li>
		<p><strong>Charts &amp; Reports<br />
			</strong>Building somesort of charts or reports. I have no vision about this, but I think it could be usefull. So the addon can also be used as a survey tool.
		</p>
	</li>
	<li>
		<p><strong>Code enhancement<br />
		</strong>There is some code that should be enhanced. It shouldn't conflict with the addons behaviour. </p>
	</li>
</ul>
