.default-flexslider-pglist ul,.default-flexslider-pglist ol ,.default-flexslider-pglist li {padding:0;margin:0;list-style:none}
/* Browser Resets */
.white-flexslider-pglist .ccm-layout-wrapper a:active,
.white-flexslider-pglist .flex-viewport a:active,
.white-flexslider-pglist .ccm-layout-wrapper a:focus,
.white-flexslider-pglist .flex-viewport a:focus  {outline: none;}
.white-flexslider-pglist .ccm-layout,
.white-flexslider-pglist .flex-control-nav,
.white-flexslider-pglist .flex-direction-nav {margin: 0; padding: 0; list-style: none;clear:both;} 
.white-flexslider-pglist img{max-width:100%;height:auto;}
/* FlexSlider Necessary Styles
*********************************/ 
.white-flexslider-pglist .flex-viewport {margin: 0; padding: 0;}
.white-flexslider-pglist  { background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.white-flexslider-pglist .flex-viewport .ccm-layout > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the ccm-layout before the JS is loaded. Avoids image jumping */
.white-flexslider-pglist .flex-viewport .ccm-layout img {width: 100%; display: block;}
.white-flexslider-pglist .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .ccm-layout element */

html[xmlns] .ccm-layout {display: block;} 
* html .ccm-layout {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.white-flexslider-pglist .no-js .ccm-layout > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.white-flexslider-pglist .flex-viewport {margin: 0 0 0px;zoom: 1;}
.white-flexslider-pglist .ccm-layout-wrapper{  position: relative;  }
.white-flexslider-pglist .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.white-flexslider-pglist .loading .flex-viewport {max-height: 300px;}
.white-flexslider-pglist .flex-viewport .ccm-layout {zoom: 1;}

.white-flexslider-pglist .carousel li {margin-right: 5px}


/* Direction Nav */
.white-flexslider-pglist  .flex-direction-nav a {width: 30px; height: 30px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.white-flexslider-pglist  .flex-direction-nav .flex-next {background-position: 100% 0; right: 1px; }
.white-flexslider-pglist .flex-direction-nav .flex-prev {left: 1px;}
.white-flexslider-pglist:hover .flex-next {opacity: 0.8; }
.white-flexslider-pglist:hover .flex-prev {opacity: 0.8; }
.white-flexslider-pglist .flex-next:hover,.white-flexslider-pglist  .flex-prev:hover {opacity: 1;}
.white-flexslider-pglist .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.white-flexslider-pglist .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;text-align:center;left:0;right:0}
.white-flexslider-pglist .flex-control-nav ul,.white-flexslider-pglist .flex-control-nav  ol{list-style:none;padding:0;margin:0;}
.white-flexslider-pglist .flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;list-style:none;}
.white-flexslider-pglist .flex-control-nav li:first-child {margin: 0;}
.white-flexslider-pglist .flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.white-flexslider-pglist .flex-control-nav li a:hover {background-position: 0 -13px;}
.white-flexslider-pglist .flex-control-nav li a.flex-active {background-position: 0 -26px; cursor: default;}

.white-flexslider-pglist .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.white-flexslider-pglist .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.white-flexslider-pglist .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.white-flexslider-pglist .flex-control-thumbs img:hover {opacity: 1;}
.white-flexslider-pglist .flex-control-thumbs .active {opacity: 1; cursor: default;}



.white-flexslider-pglist  .flexslider-pg-c  .image-link {text-align:center}
.tooltip{opacity:1!important}