.blackimg-flexslider-pglist ul,.blackimg-flexslider-pglist ol ,.blackimg-flexslider-pglist li {padding:0;margin:0;list-style:none}
/* Browser Resets */
.blackimg-flexslider-pglist .blackimg-flexslider-pglist  a:active,
.blackimg-flexslider-pglist .flex-viewport a:active,
.blackimg-flexslider-pglist .blackimg-flexslider-pglist  a:focus,
.blackimg-flexslider-pglist .flex-viewport a:focus  {outline: none;}
.blackimg-flexslider-pglist .ccm-layout,
.blackimg-flexslider-pglist .flex-control-nav,
.blackimg-flexslider-pglist .flex-direction-nav {margin: 0; padding: 0; list-style: none;clear:both;} 
.blackimg-flexslider-pglist img{max-width:100%;height:auto;}
/* FlexSlider Necessary Styles
*********************************/ 
.blackimg-flexslider-pglist .flex-viewport {margin: 0; padding: 0;}
.blackimg-flexslider-pglist  { background: #000; border: 4px solid #000; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);}
.blackimg-flexslider-pglist .flex-viewport .ccm-layout > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the ccm-layout before the JS is loaded. Avoids image jumping */
.blackimg-flexslider-pglist .flex-viewport .ccm-layout img {width: 100%; display: block;}
.blackimg-flexslider-pglist .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .ccm-layout element */

html[xmlns] .ccm-layout {display: block;} 
* html .ccm-layout {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.blackimg-flexslider-pglist .no-js .ccm-layout > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.blackimg-flexslider-pglist .flex-viewport {margin: 0 0 0px;zoom: 1;}
.blackimg-flexslider-pglist .blackimg-flexslider-pglist {  position: relative;  }
.blackimg-flexslider-pglist .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.blackimg-flexslider-pglist .loading .flex-viewport {max-height: 300px;}
.blackimg-flexslider-pglist .flex-viewport .ccm-layout {zoom: 1;}

.blackimg-flexslider-pglist .carousel li {margin-right: 5px}


/* Direction Nav */
.blackimg-flexslider-pglist .flex-direction-nav a {width: 36px; height: 39px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.blackimg-flexslider-pglist .flex-direction-nav .flex-next {background-position: 0 -39px; right: -4px;}
.blackimg-flexslider-pglist .flex-direction-nav .flex-prev {left: -4px;}
.blackimg-flexslider-pglist:hover .flex-next {opacity: 0.8; }
.blackimg-flexslider-pglist:hover .flex-prev {opacity: 0.8; }
.blackimg-flexslider-pglist .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.blackimg-flexslider-pglist  .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.blackimg-flexslider-pglist  .flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.blackimg-flexslider-pglist  .flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.blackimg-flexslider-pglist  .flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.blackimg-flexslider-pglist  .flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.blackimg-flexslider-pglist .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.blackimg-flexslider-pglist .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.blackimg-flexslider-pglist .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.blackimg-flexslider-pglist .flex-control-thumbs img:hover {opacity: 1;}
.blackimg-flexslider-pglist .flex-control-thumbs .active {opacity: 1; cursor: default;}



.blackimg-flexslider-pglist  .flexslider-pg-c  .image-link {text-align:center}
.tooltip{opacity:1!important}