#flex-product-list-default{opacity:0;visibility:hidden;height:150px;overflow:visible}
.flexslider-product-list{background:url(loading.gif) no-repeat center center}
.default-flexslider-product ul,.default-flexslider-product ol ,.default-flexslider-product li {padding:0;margin:0;list-style:none}
.default-flexslider-product  .flex-slide .p_10{padding:10px;margin:0 10px 0 0;}
.default-flexslider-product  .flexslider-slides {}
.default-flexslider-product  .flexslider-slides  img {max-width: 100%; height:auto}
.default-flexslider-product .flex-slide {overflow:hidden;}
.default-flexslider-product { padding:0px; }
.default-flexslider-product .t_center{text-align:center}
.clearfix{clear:both}
.flex-direction-nav a,.flex-direction-nav a :hover {padding:0!important;background-color:transparent!important}
/* FlexSlider Default Theme
*********************************/
.default-flexslider-product  .w_100{width:100%;display:block}
.default-flexslider-product .clear{clear:both}
 .default-flexslider-product  .flex-slide {}
/* Direction Nav */

.default-flexslider-product .flex-direction-nav a {width: 36px; height: 39px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.default-flexslider-product .flex-direction-nav .flex-next {background-position: 0 -39px; right: 0px;}
.default-flexslider-product .flex-direction-nav .flex-prev {left: 0;}
.default-flexslider-product:hover .flex-next {opacity: 0.8; }
.default-flexslider-product:hover .flex-prev {opacity: 0.8; }
.default-flexslider-product .flex-viewport:hover .flex-next ,.flex-direction-nav .flex-next:hover{opacity: 1; right: 0;}
.default-flexslider-product .flex-viewport:hover .flex-prev ,.flex-direction-nav .flex-prev:hover{opacity: 1; left: 0;}
.default-flexslider-product .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.default-flexslider-product .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.default-flexslider-product .flex-control-nav ul{list-style:none;padding:0;margin:0}
.default-flexslider-product .flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;list-style:none;}
.default-flexslider-product .flex-control-nav li:first-child {margin: 0;}
.default-flexslider-product .flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.default-flexslider-product .flex-control-nav li a:hover {background-position: 0 -13px;}
.default-flexslider-product .flex-control-nav li a.flex-active {background-position: 0 -26px; cursor: default;}

.default-flexslider-product .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.default-flexslider-product .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.default-flexslider-product .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.default-flexslider-product .flex-control-thumbs img:hover {opacity: 1;}
.default-flexslider-product .flex-control-thumbs .active {opacity: 1; cursor: default;}
.flex-viewport h3 {line-height:24px!important}
.flex-viewport h5 {line-height:15px!important}