.white-flexslider ul,.white-flexslider ol ,.white-flexslider li {padding:0;margin:0;list-style:none}
.white-flexslider ul,.white-flexslider ol{float:none!important;margin:0}
.flex-direction-nav a,.flex-direction-nav a :hover {padding:0!important;background-color:transparent!important}
div#main-container #header .flex-viewport ul,div#main-container #header ul{margin-top:0!important;margin-right:0!important}
.white-flexslider .flex-caption h3 ,.white-flexslider .flex-caption p {color:#fff!important}
.flexslider-img-content{opacity:0;visibility:hidden;}
.flexslider-img-preloader{background:url(loading.gif) no-repeat center center}

/* Browser Resets */
.flex-container a:active,
.white-flexslider a:active,
.flex-container a:focus,
.white-flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

.white-flexslider .flex-caption{margin:0px; background:#000;
  opacity:0.7;
filter:alpha(opacity=70); /* For IE8 and earlier */
  padding:10px;
  color:#fff;

  }


/* FlexSlider Necessary Styles
*********************************/ 
.white-flexslider {margin: 0; padding: 0;}
.white-flexslider { background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.white-flexslider  .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.white-flexslider  .slides img {width: 100%; display: block;}
.white-flexslider  .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.white-flexslider .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.white-flexslider  .slides > li:first-child {display: none;}


/* FlexSlider Default Theme
*********************************/
.white-flexslider { background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1;  
-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);}
.white-flexslider  .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.white-flexslider  .loading .flex-viewport {max-height: 300px;}
.white-flexslider  .white-flexslider .slides {zoom: 1;}

.white-flexslider  .carousel li {margin-right: 5px}



/* Direction Nav */
.white-flexslider  .flex-direction-nav a {width: 36px; height: 39px; margin: -20px 0 0; display: block; background: url(bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.white-flexslider  .flex-direction-nav .flex-next {background-position: 0 -39px; right: -0px;}
.white-flexslider  .flex-direction-nav .flex-prev {left: -0px;}
.white-flexslider :hover .flex-next {opacity: 1; right: 0;}
.white-flexslider :hover .flex-prev {opacity: 1; left: 0;}
.white-flexslider  .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.white-flexslider  .flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.white-flexslider .flex-control-nav ul{list-style:none;padding:0;margin:0}
.white-flexslider  .flex-control-nav li {margin: 0 0 0 5px; display: inline-block; zoom: 1; *display: inline;list-style:none;}
.white-flexslider  .flex-control-nav li:first-child {margin: 0;}
.white-flexslider  .flex-control-nav li a {width: 13px; height: 13px; display: block; background: url(bg_control_nav.png) no-repeat; cursor: pointer; text-indent: -999em;}
.white-flexslider  .flex-control-nav li a:hover {background-position: 0 -13px;}
.white-flexslider  .flex-control-nav li a.flex-active {background-position: 0 -26px; cursor: default;}


  .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
 .flex-control-thumbs li {width: 25%; float: left; margin:0;}
  .flex-control-thumbs img {width: 100%; display: block; opacity: 0.4; cursor: pointer;}
  .flex-control-thumbs img:hover {opacity: 1; cursor: pointer;}
  .flex-control-thumbs li.flex-active-slide img {opacity: 1; cursor: pointer;}
  ul.slides-thumb, ol.slides-thumb  {padding:0;margin:0;list-style:none}